.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #efefef;
}

div.error {
    border: 2px solid red;
    color: brown;
}

error {
    border: 2px solid red;
}

div#messages {
    color: rgb(223, 37, 251);
}

div#messagese {
    color: rgb(223, 37, 251);
}